#categorias.page-principal{
    .box-content-bar-blue-mobil{
        display: block;
        background: #0066CC;
        color: #fff;
        width: 100%;
        height: 18px;
        text-align: left;
        padding: 16px;
    }
    .boxBody{
        .box-content-bar{
            .box-category{
                .img-bar-blue{
                    display: none;
                }
            }
            .bar-menu-horizontal{
                li{
                    a{
                        .icon-bar-blue{
                            display: none;
                        }
                    }
                }
            }
        }
        .box-header{
            .cont-box-header{
                padding: 20px;
                .box-header-title-sup{
                    ul{
                        list-style: none;
                        display: flex;
                        li{
                            float: left;
                            padding-left: 5px;
                            font-size: 10px;
                        }
                    }
                }
                .box-header-title-inf{
                    h1{
                        font-family: Montserrat;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 22px;
                        border-bottom: 1px solid;
                        padding: 20px 0 10px;
                    }
                    span{
                        font-size: 10px;
                        a{
                            text-decoration: none;
                            color:#0066CC;
                        }
                    }
                }
            }
        }
        #box-list-register{
            padding: 10px;
            overflow:hidden;
            .box-content-register{
                width: 100%;
                background: #f1f1f3;
                border-radius: 10px;
                display: none;
                .box-lista-filtro{
                    padding: 0 20px;
                    display: block;
                    h3{
                        padding: 20px 0;
                    }
                    .content-list-filtra{
                        list-style-type: none;
                        li{

                            .sub-lista-filtro{
                                list-style-type: none;
                                list-style-type: none;
                                border-top: 1px solid #ccb9b9;
                                padding: 20px 0;
                                li{
                                    .marcas{
                                        font-size: 12px;
                                        color: #000;
                                        text-decoration: none;
                                        line-height: 2;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .box-content-list{
                margin: 0 auto 10px;
                width: 100%;
                .box-bar-grey{
                    width: 100%;
                    .content-bar-grey-desktop{
                        background: #f1f1f3;
                        border-radius: 5px;
                        display: none;
                    }
                    .content-bar-grey-mobil{
                        background: #f1f1f3;
                        border-radius: 5px;
                        display: flex;
                        img{
                            float: left;
                            width: 50%;
                        };
                    }
                }
                .content-list{
                    margin-bottom: 20px;
                    .content-list-marca{
                        display: inline-block;
                        margin-top: 10px;
                        width: 49%;
                        .content-producto{
                            border: 0.248923px solid #B8B8B8;
                            box-sizing: border-box;
                            border-radius: 9.95693px;
                            /*max-width: 165px;*/
                            padding: 10px;
                            .box-producto{
                                .box-img-superior{
                                    i{
                                        float: right;
                                    }
                                }
                                .box-img-centro{
                                    text-align: center;
                                    img{
                                        max-width: 120px;
                                    }
                                    .name-product{
                                        font-family: 'Montserrat', sans-serif;
                                        font-size: 9px;
                                        font-style: normal;
                                        font-weight: 500;
                                        line-height: 13px;
                                        letter-spacing: 0em;
                                        text-align: left;
                                        margin: 33px 0;
                                    }
                                    .text-precio{
                                        font-size: 15px;
                                        font-family: 'Montserrat', sans-serif;
                                        font-weight: 600;
                                        text-align: left;
                                    }
                                    .circle-color{
                                        display: block;
                                        background: #444444;
                                        width: 20px;
                                        height: 20px;
                                        border-radius: 50%;
                                        margin: 8px 0;
                                    }
                                }
                                .box-img-inferior{
                                    background-color: #131212;
                                    font-size: 8px;
                                    border-radius: 5px;
                                    padding: 6px 16px;
                                    text-align: center;
                                    margin-top: 10px;
                                    .btn-select{
                                        font-family: 'Montserrat', sans-serif;
                                        font-size: 9px;
                                        font-style: normal;
                                        font-weight: 600;
                                        line-height: 14px;
                                        letter-spacing: 0em;
                                        text-align: center;
                                        color: #F7EC00;
                                        display: flex;
                                        text-decoration: none;
                                        .car-yellow{
                                            width: 10px;
                                            margin-right: 5px;
                                        }
                                        .car-black{
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .box-pagination{
                    text-align: center;
                    margin: 70px auto 0;
                    .pagination-container{
                        list-style: none;
                        .pagination-num{
                            display: inline-block;
                            border-radius: 5px;
                            padding: 12px 18px;
                            border: 1px solid #0066CC;
                            a{
                                text-decoration: none;
                            }
                        }
                        li.active{
                            color: #f1f1f3;
                            background: #0066CC;
                        }
                        .pagination-next,
                        .pagination-first{
                            display: inline-block;
                            padding: 12px;
                            font-size: 28px;
                            a{
                                text-decoration: none;
                                &:hover{
                                    color:#0066CC;
                                    font-weight: bolder;
                                }
                            }
                        }
                    }
                }
            }
        }
        .box-te-puede-interesar{
            .carousel{
                .gallery{
                    .carousel{
                        .carousel-cell{
                            text-align: center;
                            a{
                                .box-card{
                                    margin-bottom: 6px;
                                    .content-imagen{
                                        .imagen-central{
                                            img{
                                                width: 145px;
                                            }
                                        }
                                    }
                                    .text-info{
                                        text-align: left;
                                    }
                                }
                            }
                            button{
                                background: #000;
                                padding: 12px 20px;
                                font-weight: 600;
                                font-size: 12px;
                                line-height: 11px;
                                color: #F7EC00;
                                border-radius: 11px;
                                width: 230px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 769px) {
    #categorias.page-principal{
        .boxHeader{
            .box-content-bar{
                background: #0066CC;
                color: #ffffff;
                .box-category{
                    img{
                        display: none;
                    }
                    .img-bar-blue{
                        display: inline-block;
                    }
                }
                .bar-menu-horizontal{
                    a{
                        color: #ffffff;
                    }
                    img{
                        display: none;
                    }
                    .icon-bar-blue{
                        display: inline-block;
                    }
                }
            }
            .box-content-bar-blue-mobil{
                display: none;
            }
            .header-section-main{
                background: #000000;
                .content-bar-yellow{
                    .header-logo{
                        .navbar-brand{
                            .logoyellow{
                                display: none;
                            }
                            .logoblack{
                                display: block;
                            }
                        }
                    }
                    .icons{
                        .icons-btn{
                            .navbar-link{
                                .carrito{
                                    display: none;
                                }
                                .carritofix{
                                    display: block;
                                }
                            }
                        }
                        .btn-profile{
                            a{
                                color: #ffffff;
                            }

                        }
                    }
                }
            }
        }
        .boxBody{
            .box-header{
                .cont-box-header{

                    .box-header-title-sup{
                        ul{
                            li{
                                font-size: 14px;
                            }
                        }
                    }
                    .box-header-title-inf{
                        h1{
                            font-size: 24px;
                        }
                        span{
                            position: relative;
                            font-size: 10px;
                            float: right;
                            top: -24px;
                            font-size: 14px;
                            a{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            .box-slider-marcas{
                .slideshow-container{
                    .mySlides{
                        .contentdiv{
                            .contentdiv-marca{
                                max-width: 1193px;
                                .box-marca{
                                    display: block;
                                    width: 100%;
                                    .content-img-marca{
                                        display: inline-block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            #box-list-register{
                padding: 1% 3%;
                .box-content-register{
                    display: block;
                    float: left;
                    width: 18.5%;
                    .box-lista-filtro{
                        .content-filtro{
                            .content-list-filtra{
                                li{
                                    .sub-lista-filtro{
                                        li{
                                            .marcas{
                                                font-size: 16px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .box-content-list{
                    width: 80.5%;
                    float: right;
                    .box-bar-grey{
                        width: 99.5%;
                        /*float: right;*/
                        display: flex;
                        .content-bar-grey-mobil{
                            display: none;
                        }
                        .content-bar-grey-desktop{
                            padding: 20px;
                            display: block;
                            height: 20px;
                            width: 100%;
                            margin-bottom: 10px;
                            ul{
                                list-style: none;
                                li{
                                    float: left;
                                    padding: 0 2%;
                                    font-size: 16px;
                                    &:first-child{
                                        padding: 0;
                                        font-weight: bold;
                                    }
                                    &:last-child{
                                        float: right;
                                        padding: 0;
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                    .content-list{
                        .content-list-marca {
                            /*float: right;*/
                            margin-top: 10px;
                            width: calc(100%/4.2);
                            max-width: 260px;
                            margin-right: 1%;
                            &:last-child {
                                margin-right: 0;
                            }
                            .content-producto{
                                &:hover{
                                    box-shadow: 0px -3.98277px 19.9139px rgba(0, 0, 0, 0.08), 0px 3.98277px 19.9139px rgba(0, 0, 0, 0.08);
                                }
                                .box-producto{
                                    .box-img-superior{
                                        img{
                                            width: 54px;
                                        }
                                        i{
                                            font-size: 22px;
                                        }
                                    }
                                    .box-img-centro{
                                        img{
                                            max-width: 190px;
                                            width: 100%;
                                        }
                                        .name-product{
                                            font-size: 14px;
                                        }
                                        .text-precio{
                                            font-size: 14px;
                                        }
                                    }
                                    .box-img-inferior {
                                        background-color: #fafafa;
                                        padding: 10px 30px;
                                        border: 1px solid #b5afaf;
                                        &:hover {
                                            background: #000;
                                            .btn-select {
                                                color:#F7EC00;
                                                .car-yellow{
                                                    display: block;
                                                    width: 16px;
                                                    margin-right: 15px;
                                                }
                                                .car-black{
                                                    display:none;
                                                }
                                            }
                                        }
                                        .btn-select {
                                            font-size: 14px;
                                            color: #000000;
                                            text-decoration: none;
                                            .car-yellow{
                                                display:none;
                                            }
                                            .car-black{
                                                display: block;
                                                width: 16px;
                                                margin-right: 15px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .box-te-puede-interesar{
                display: none;
            }
        }
    }
}


