#marcas.page-principal{
    .boxBody{
        .box-slider-marcas{
            .slideshow-container{
                .list-dot {
                    position: relative;
                    bottom: 31px;
                    left: initial;
                    text-align: center;
                }
                .mySlides{
                    .contentdiv{
                        width: 100%;
                        background:  #E6E6E6;
                        .contentdiv-marca{
                            width: 100%;
                            margin: auto;
                            text-align: center;
                            padding: 35px 0 70px 0;
                            .box-marca{
                                display: inline-block;
                                width: 48%;
                                .content-img-marca{
                                    max-width: 185px;
                                    height: 135px;
                                    display: inline-block;
                                    margin: 6px;
                                }
                            }
                        }
                    }
                }
            }
        }
        #box-list-marcas{
            padding: 10px;
            overflow:hidden;
            .box-content-list{
                margin: 10px auto;
                width: 100%;
                .content-list-marca{
                    display: inline-block;
                    margin-top: 10px;
                    width: 49%;
                   /* &:nth-child(even){
                        float: right;
                    }*/
                    .content-producto{
                        border: 0.158902px solid #B8B8B8;
                        box-sizing: border-box;
                        border-radius: 6.35609px;
                        /*max-width: 165px;*/
                        padding: 10px;
                        .box-producto{
                            .box-img-superior{
                                i{
                                    float: right;
                                }
                            }
                            .box-img-centro{
                                text-align: center;
                                img{
                                    max-width: 120px;
                                }
                                .name-product{
                                    font-family: 'Montserrat', sans-serif;
                                    font-size: 9px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 13px;
                                    letter-spacing: 0em;
                                    text-align: left;
                                    margin: 33px 0;
                                }
                                .text-precio{
                                    font-size: 15px;
                                    font-family: 'Montserrat', sans-serif;
                                    font-weight: 600;
                                    text-align: left;
                                }
                                .circle-color{
                                    display: block;
                                    background: #444444;
                                    width: 20px;
                                    height: 20px;
                                    border-radius: 50%;
                                    margin: 8px 0;
                                }
                            }
                            .box-img-inferior{
                                background-color: #131212;
                                font-size: 8px;
                                border-radius: 5px;
                                padding: 4px 26px;
                                text-align: center;
                                margin-top: 10px;
                                span{
                                    font-family: 'Montserrat', sans-serif;
                                    font-size: 9px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 14px;
                                    letter-spacing: 0em;
                                    text-align: center;
                                    color: #F7EC00;
                                    img{
                                        width: 10px;
                                        margin-right: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
                .content-marca{
                    margin-top: 10px;
                    width: 100%;
                    float: left;
                    .box-marca{
                        border: 0.158902px solid #B8B8B8;
                        border-radius: 6.35609px;
                        text-align: center;
                        padding: 20px;
                        img{
                            width: 82px;
                        }
                        a{
                            font-size: 13px;
                            font-weight: 600;
                            text-decoration: underline;
                            color: #131212;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    #marcas.page-principal{
        .boxBody{
            .box-slider-marcas{
                .slideshow-container{
                    .mySlides{
                        .contentdiv{
                            background: #F7EC00;
                            .contentdiv-marca{
                                max-width: 1193px;
                                .box-marca{
                                    display: block;
                                    width: 100%;
                                    .content-img-marca{
                                        display: inline-block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            #box-list-marcas{
                .box-content-list{
                    .content-list-marca {
                        display: inline-block;
                        margin-top: 10px;
                        width: calc(100%/4.5);
                        max-width: 260px;
                    }
                    .content-marca {
                        width: 14%;
                    }
                }
            }
        }
    }
}


