#carritoCompra.page-principal{
    .box-content-bar-blue-mobil{
        display: block;
        background: #0066CC;
        color: #fff;
        width: 100%;
        height: 18px;
        text-align: left;
        padding: 16px;
    }
    .boxBody{
        .box-content-bar{
            .box-category{
                .img-bar-blue{
                    display: none;
                }
            }
            .bar-menu-horizontal{
                li{
                    a{
                        .icon-bar-blue{
                            display: none;
                        }
                    }
                }
            }
        }
        .box-header{
            .cont-box-header{
                padding: 10px;
                .box-header-title-sup{
                    ul{
                        list-style: none;
                        display: flex;
                        li{
                            float: left;
                            padding-left: 5px;
                            font-size: 10px;
                        }
                    }
                }
                .box-header-title-inf{
                    h1{
                        font-family: Montserrat;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 22px;
                        border-bottom: 1px solid;
                        padding: 20px 0 10px;
                    }
                    span{
                        font-size: 10px;
                        a{
                            text-decoration: none;
                            color:#0066CC;
                        }
                    }
                }
            }
        }

        .box-content-carritocompra{
            margin: 30px;
            .box-carrito{
                .bar-grey-title{
                    display: none;
                }
                .content-box-carrito{
                    display: flex;
                    border-bottom: 1px solid #d7d4d4;
                    .img-box-carrito{
                        max-height: 74px;
                        .content-img{
                            padding: 10px;
                            border: 0.66px solid #E6E6E6;
                            -webkit-box-sizing: border-box;
                            box-sizing: border-box;
                            text-align: center;
                            img{
                                max-width: 66px;
                            }
                        }
                    }
                    .text-box-carrito{
                        width: 80%;
                        .content-text{
                            padding: 0 20px;
                            font-size: 10px;
                            line-height: 18px;
                            .box-title-prod{
                                .title-sm{
                                    font-size: 10px;
                                    padding-bottom: 10px;
                                    display: flex;
                                label{
                                    margin: -7px 12px;
                                    .option-input {
                                        -webkit-appearance: none;
                                        -moz-appearance: none;
                                        -ms-appearance: none;
                                        -o-appearance: none;
                                        appearance: none;
                                        position: relative;
                                        top: 13.33333px;
                                        right: 0;
                                        bottom: 0;
                                        left: 0;
                                        height: 20px;
                                        width: 20px;
                                        background: #e04056;
                                        color: #fff;
                                        cursor: pointer;
                                        display: inline-block;
                                        outline: none;
                                        position: relative;
                                        z-index: 1000;
                                      }
                                    .option-input:hover {
                                        border: 2.5px solid #e04056;
                                      }
                                    .option-input:checked {
                                        border: 2px solid #e04056;
                                      }
                                    .option-input.radio {
                                        border-radius: 50%;
                                      }
                                    }
                                    .square-talla{
                                        background: #efefef;
                                        padding: 8px 10px;
                                        border-radius: 9px;
                                        margin: 0 10px;
                                    }
                                    .title{
                                        padding: 6px 0;
                                    }
                                    a{
                                        margin: 7px 0;
                                    }
                                }
                                .title-big{
                                    font-size: 14px;
                                    padding-bottom: 10px;
                                }
                            }
                            .content-box-det-prec{
                                .det-product{
                                padding: 10px 0;
                                }
                                .box-contador{
                                    .conteo{
                                        .add-prod{
                                            button{
                                                width: 43px;
                                                height: 43px;
                                                float: left;
                                            }
                                        }
                                        .result{
                                            float: left;
                                            width: 43px;
                                            height: 43px;
                                            text-align: center;
                                        }
                                    }
                                }
                                .sum-product{
                                    display: none;
                                }
                                a{
                                    float: left;
                                    color: #0066CC;
                                    margin: 15px 0;
                                }
                            }
                        }
                    }
                }
            }
            .pago-seguro{
                width: 100%;
                .content-pago-seguro{
                    text-align: center;
                    padding: 40px 0;
                }
            }
            .resum-pedid{
                .content-resum-pedid{
                    background: #FFFFFF;
                    border: 0.449323px solid #F1F1F3;
                    box-sizing: border-box;
                    box-shadow: 0px 3.59458px 8.98645px rgba(0, 0, 0, 0.05);
                    border-radius: 8.98645px;
                    padding: 40px 25px;
                    h1{
                        font-size: 16.1756px;
                        line-height: 14px;
                        margin-bottom: 40px;
                    }
                    p{
                        width: 100%;
                        display: block;
                        margin-bottom: 23px;
                        .bar-left{
                            font-size: 14px;
                        }
                        .bar-right{
                            font-size: 16px;
                            float: right;
                        }
                        a{
                            color: #0066CC;
                            ;
                        }
                        #cupon-desc{
                            margin: 20px 0;
                            background: #FFFFFF;
                            border: 0.449323px solid #B8B8B8;
                            box-sizing: border-box;
                            border-radius: 8.98645px;
                            padding: 10px 30px;
                        }
                    }
                    .box-descto{
                        background: #27AE60;
                        padding: 20px;
                        color: #fff;
                    }
                    .mont-total{
                        border-top: 1px solid grey;
                        padding-top: 32px;
                        text-align: center;
                        font-size: 14.3783px;
                    }
                    .Proceso-compra{
                        background: #E6E6E6;
                        border-radius: 10px;
                        padding: 20px 40px;
                        color: grey;
                        font-size: 14px;
                        border: 1px solid #c8c4c4;
                        width: 100%;
                        }
                }
            }
            .box-asesor{
                width: 80%;
                margin: 40px auto;
                .content-asesor{
                    background: #F7EC00;;
                    border: 0.449323px solid #F1F1F3;
                    box-sizing: border-box;
                    box-shadow: 0px 3.59458px 8.98645px rgba(0, 0, 0, 0.05);
                    border-radius: 8.98645px;
                    padding: 40px 25px;
                    h1{
                        font-weight: bold;
                        font-size: 10.7837px;
                        text-align: center;
                        margin-bottom: 20px;
                    }
                    ul{
                        list-style-type: none;
                        li{
                            font-size: 10.7837px;
                            line-height: 22px;
                            margin-bottom: 12px;
                            img{
                                width: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
        /*fin slider*/
    .box-te-puede-interesar{
        .carousel{
            .gallery{
                .carousel{
                    height: 431px;
                    max-width: initial;
                    .carousel-cell{
                        text-align: center;
                        a{
                            .box-card{
                                margin-bottom: 6px;
                                .content-imagen{
                                    .imagen-central{
                                        img{
                                            width: 145px;
                                        }
                                    }
                                }
                                .text-info{
                                    text-align: left;
                                }
                            }
                        }
                        .box-canasta{
                            width: 79%;
                            display: inline-block;
                            background: #000;
                            padding: 11px 13px;
                            border-radius: 11px;
                            a{
                                font-size: 14px;
                                line-height: 11px;
                                color: #F7EC00;
                                width: 156px;
                                text-decoration: none;
                                cursor: pointer;
                                display: flex;
                                margin: auto;
                                img{
                                    width: 20px;
                                }
                                span{
                                    padding-top: 4px;
                                    padding-left: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (min-width: 769px) {
    #carritoCompra.page-principal{
        .boxHeader{
            .box-content-bar{
                background: #0066CC;
                color: #ffffff;
                background: #0066CC;
                color: #ffffff;
                z-index: 8;
                position: relative;
                .box-category{
                    img{
                        display: none;
                    }
                    .img-bar-blue{
                        display: inline-block;
                    }
                }
                .bar-menu-horizontal{
                    a{
                        color: #ffffff;
                    }
                    img{
                        display: none;
                    }
                    .icon-bar-blue{
                        display: inline-block;
                    }
                }
            }
            .box-content-bar-blue-mobil{
                display: none;
            }
            .header-section-main{
                background: #000000;
                .content-bar-yellow{
                    .header-logo{
                        .navbar-brand{
                            .logoyellow{
                                display: none;
                            }
                            .logoblack{
                                display: block;
                            }
                        }
                    }
                    .icons{
                        .icons-btn{
                            .navbar-link{
                                .carrito{
                                    display: none;
                                }
                                .carritofix{
                                    display: block;
                                }
                            }
                        }
                        .btn-profile{
                            a{
                                color: #ffffff;
                            }

                        }
                    }
                }
            }
        }
        .boxBody{
            .box-content-carritocompra{
                display: flex;
                .box-carrito{
                    display: inline-block;
                    width: 69%;
                    .bar-grey-title{
                        display: block;
                        .content-bar-grey-title{
                            display: flex;
                            background: #F1F1F3;
                            border-radius: 10px;
                            padding: 10px 12px;
                            font-size: 14px;
                            font-family: 'Montserrat';
                            margin-bottom: 30px;
                            .bar-left{
                                width: 38%;
                            }
                            .bar-right{
                                width: 65%;
                                .bar-right-precio{
                                    width: 36%;
                                    padding: 0 10px;
                                }
                                .bar-right-cantidad{
                                    width: 30%;
                                    padding: 0 3px;
                                }
                                .bar-right-total{
                                    width: 35%;;
                                    padding: 0 36px;
                                }
                            }
                        }
                    }
                    .content-box-carrito{
                        margin: 40px 0;
                        .img-box-carrito{
                            .content-img{
                                img{
                                    width: 100px;
                                }
                            }
                        }
                        .text-box-carrito{
                            .content-text{
                                width: 100%;
                                .box-title-prod{
                                    width: 45%;
                                    display: inline-block;
                                    float: left;
                                    margin-right: 30px;
                                }
                                .content-box-det-prec{
                                    width: 51%;
                                    display: flex;
                                    padding-top: 45px;
                                    .det-product{
                                        display: inline-block;
                                        width: 13%;
                                    }
                                    .box-contador{
                                        display: inline-block;
                                        width: 27%;
                                        .conteo{
                                            .add-prod{
                                                button{
                                                    width: 24px;
                                                    height: 24px;
                                                }
                                            }
                                            .result{
                                                width: 30px;
                                                height: 24px;
                                            }
                                        }
                                    }
                                    .sum-product{
                                        display: inline-block;
                                        width: 10%;
                                        padding: 10px 0;
                                    }
                                    a{
                                        display: inline-block;
                                        width: 2%;
                                        span{
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .box-pagos-proces{
                    display: inline-block;
                    width: 26%;
                    display: inline-block;
                    position: relative;
                    top: -153px;
                    left: 71px;
                    background: #fff;
                    .pago-seguro{
                        width: 100%;
                    }
                }
            }
        }
    }
}


