#categorias.page-principal{
    .boxBody{
        #box-list-register{
            padding: 10px;
            overflow:hidden;
            .box-content-register{
                .box-register{
                    .content-img-cat{
                        display: flex;
                        background: #f1f1f3;
                        img{
                            float: left;
                            width: 50%;
                        };
                    }
                }
                .box-lista-filtro{
                    display: none;
                }
            }
            .box-content-list{
                margin: 10px auto;
                width: 100%;
                .content-list-marca{
                    display: inline-block;
                    margin-top: 10px;
                    width: 49%;
                   /* &:nth-child(even){
                        float: right;
                    }*/
                    .content-producto{
                        border: 0.158902px solid #B8B8B8;
                        box-sizing: border-box;
                        border-radius: 6.35609px;
                        /*max-width: 165px;*/
                        padding: 10px;
                        .box-producto{
                            .box-img-superior{
                                i{
                                    float: right;
                                }
                            }
                            .box-img-centro{
                                text-align: center;
                                img{
                                    max-width: 120px;
                                }
                                .name-product{
                                    font-family: 'Montserrat', sans-serif;
                                    font-size: 9px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 13px;
                                    letter-spacing: 0em;
                                    text-align: left;
                                    margin: 33px 0;
                                }
                                .text-precio{
                                    font-size: 15px;
                                    font-family: 'Montserrat', sans-serif;
                                    font-weight: 600;
                                    text-align: left;
                                }
                                .circle-color{
                                    display: block;
                                    background: #444444;
                                    width: 20px;
                                    height: 20px;
                                    border-radius: 50%;
                                    margin: 8px 0;
                                }
                            }
                            .box-img-inferior{
                                background-color: #131212;
                                font-size: 8px;
                                border-radius: 5px;
                                padding: 6px 16px;
                                text-align: center;
                                margin-top: 10px;
                                .btn-select{
                                    font-family: 'Montserrat', sans-serif;
                                    font-size: 9px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 14px;
                                    letter-spacing: 0em;
                                    text-align: center;
                                    color: #F7EC00;
                                    display: flex;
                                    text-decoration: none;
                                    .car-yellow{
                                        width: 10px;
                                        margin-right: 5px;
                                    }
                                    .car-black{
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .box-te-puede-interesar{
            .carousel{
                .gallery{
                    .carousel{
                        .carousel-cell{
                            text-align: center;
                            a{
                                .box-card{
                                    margin-bottom: 6px;
                                    .content-imagen{
                                        .imagen-central{
                                            img{
                                                width: 145px;
                                            }
                                        }
                                    }
                                    .text-info{
                                        text-align: left;
                                    }
                                }
                            }
                            button{
                                background: #000;
                                padding: 12px 20px;
                                font-weight: 600;
                                font-size: 12px;
                                line-height: 11px;
                                color: #F7EC00;
                                border-radius: 11px;
                                width: 230px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    #categorias.page-principal{
        .boxBody{
            .box-slider-marcas{
                .slideshow-container{
                    .mySlides{
                        .contentdiv{
                            .contentdiv-marca{
                                max-width: 1193px;
                                .box-marca{
                                    display: block;
                                    width: 100%;
                                    .content-img-marca{
                                        display: inline-block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            #box-list-register{
                overflow: hidden;
                padding: 10px 53px;
                .box-content-register{
                    width: 20%;
                    float: left;
                    background: #f1f1f3;
                    .box-register{
                        .content-img-cat{

                        }
                    }
                    .box-lista-filtro{
                        padding: 20px;
                        display: block;
                        h3{
                            padding: 20px 0;
                        }
                        .content-list-filtra{
                            list-style-type: none;
                            li{
                                .sub-lista-filtro{
                                    list-style-type: none;
                                    list-style-type: none;
                                    border-top: 1px solid #ccb9b9;
                                    padding: 20px 0;
                                    a{
                                        font-size: 12px;
                                        color: #000;
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }
                }
                .box-content-list{
                    width: 80%;
                    float: right;
                    .content-list{
                        float: right;
                        .content-list-marca {
                            display: inline-block;
                            margin-top: 10px;
                            max-width: 260px;
                            width: calc(100%/4.5);
                            margin-left: 2%;
                            .content-producto{
                                .box-producto{
                                    .box-img-superior{
                                        img{
                                            width: 54px;
                                        }
                                        i{
                                            font-size: 22px;
                                        }
                                    }
                                    .box-img-centro{
                                        img{
                                            max-width: 190px;
                                        }
                                        .name-product{
                                            font-size: 14px;
                                        }
                                        .text-precio{
                                            font-size: 14px;
                                        }
                                    }
                                    .box-img-inferior {
                                        background-color: #fafafa;
                                        padding: 10px 30px;
                                        border: 1px solid #b5afaf;

                                        .btn-select {
                                            font-size: 14px;
                                            color: #000000;
                                            text-decoration: none;
                                            .car-yellow{
                                                display:none;
                                            }
                                            .car-black{
                                                display: block;
                                                width: 16px;
                                                margin-right: 15px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .content-marca {
                        width: 13%;
                        float: right;
                        .box-marca {
                            padding: 188px 0;
                            img{
                                display: block;
                                margin: auto;
                            }
                            span{
                                display: block;
                                margin: auto;
                            }
                        }
                        
                    }
                }
            }
        }
    }
}


