#detalle1.page-principal{
    .box-content-bar-blue-mobil{
        display: block;
        background: #0066CC;
        color: #fff;
        width: 100%;
        height: 18px;
        text-align: left;
        padding: 16px;
    }
    .boxBody{
        .box-content-bar{
            .box-category{
                .img-bar-blue{
                    display: none;
                }
            }
            .bar-menu-horizontal{
                li{
                    a{
                        .icon-bar-blue{
                            display: none;
                        }
                    }
                }
            }
        }
        .box-header{
            .cont-box-header{
                padding: 10px;
                .box-header-title-sup{
                    ul{
                        list-style: none;
                        display: flex;
                        li{
                            float: left;
                            padding-left: 5px;
                            font-size: 10px;
                        }
                    }
                }
                .box-header-title-inf{
                    h1{
                        font-family: Montserrat;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 22px;
                        border-bottom: 1px solid;
                        padding: 20px 0 10px;
                    }
                    span{
                        font-size: 10px;
                        a{
                            text-decoration: none;
                            color:#0066CC;
                        }
                    }
                }
            }
        }

        .box-content-detalle1{
            font-family: 'Lato';
            margin: 30px;
            .box-title-prod{
                padding: 10px 0;
                .title-sm{
                    font-size: 10px;
                    display: block;    
                    padding-bottom: 7px;
                    span{
                        color: rgb(63, 63, 62);
                    }
                }
                .title-big{
                    font-weight: 700;
                    font-size: 14px;
                    display: block;    
                    padding-bottom: 7px;
                }
                .list-start{
                    padding-bottom: 10px;
                    .start-yellow{
                        color:#FFC000;
                    }
                    .start-gris{
                        color: #E6E6E6;
                    }
                    .msj-gris{
                        color: #000500;
                        font-size: 10px;
                    }
                } 
            }
            .box-slider-principal.box-slider-show{
                .content-box-show{
                    padding: 24px;
                    border: 0.290826px solid #B8B8B8;
                    .slideshow-container{
                        max-width: 545px;
                        .mySlides{
                            .contentdiv{
                                i{
                                    position: absolute;
                                    right: 0;
                                }
                                img{
                                    display: block;
                                    width: 219px;
                                    margin: auto;
                                }
                            }
                        }
                        .next, .prev{
                            color: #808080;
                            padding: 0;
                        }
                        .prev:hover, .next:hover {
                            background-color: #0071e300;
                        }
                    }
                    .box-list-img{
                        text-align: center;
                        .box-img {
                            width: 18%;
                            border: 0.5px solid #808080;
                        }
                    }
                }
                .box-redes{
                    p{
                        font-size: 10px;
                        display: inline-block;
                        margin-right: 13px;
                        margin: 20px 0;
                    }
                }
            }
            .box-cant-prod{
                display: flex;
                position: relative;
                top: -448px;
                background: #fff;
                padding: 10px;
                .content-box-cant-prod{
                    width: 100%;
                    .box-contador{
                        width: 45%;
                        float: left;
                        display: inline-block;
                        .conteo{
                            .add-prod{
                                .btn-add-prod{
                                    float: left;
                                    width: 28px;
                                    height: 35px;
                                }
                            }
                            .result{
                                width: 46px;
                                height: 35px;
                                float: left;
                                text-align: center;
                            }
                        }
                    }
                    .box-canasta{
                        width: 42%;
                        display: inline-block;
                        background: #000;
                        padding: 11px 13px;
                        border-radius: 11px;
                        a{
                           
                            font-size: 14px;
                            line-height: 11px;
                            color: #F7EC00;
                            width: 156px;
                            text-decoration: none;
                            cursor: pointer;
                            display: flex;
                            margin: auto;
                            img{
                                width: 20px;
                            }
                            span{
                                padding-top: 4px;
                                padding-left: 10px;
                            }
                        }
                    }
                }
            }
            .det-product{
                p{                    
                    font-size: 19px;
                    padding: 10px 0;
                    span{
                        border: 0.777736px solid #27AE60;
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        border-radius: 7.77736px;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 9.33284px;
                        line-height: 17px;
                        color: #27AE60;
                        padding: 4px;
                        margin-left: 20px;
                    }
                }
            }
            .box-list-prod{
                .box-prod{
                    display: inline-block;
                    width: 32%;
                    border: 0.315387px solid #E6E6E6;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    border-radius: 6.30774px;
                    text-align: center;
                    padding: 20px;
                    margin: 10px 0;
                    &:hover{
                        border: 0.315387px solid #444444;
                    }
                    img{
                        width: 100%;
                        max-width: 50px;
                        display: block;
                        margin: auto;
                    }
                    span{
                        font-size: 10px;
                    }
                }
            }
            .box-select-talla{
                h2{
                    margin-bottom: 10px;
                }
                a{
                    color: #0066CC;
                    margin-top: 10px;
                    font-size: 10px;
                }
                #filter_box_sizes{
                    .conte-filter-new{    
                        .filters-checkboxgroup-body{
                            label{
                                cursor: pointer;
                                width: 60px;
                                height: 34px;
                                margin: 0 0 6px 8px;
                                text-transform: uppercase;
                                padding: 7px 0 0 0;
                                font-size: 14.4805px;
                                text-align: center;
                                background: #FFFFFF;
                                border: 0.452514px solid #E6E6E6;
                                -webkit-box-sizing: border-box;
                                box-sizing: border-box;
                                border-radius: 5px;
                                display: inline-block;
                                input {
                                    display: none;
                                }
                            }
                        }
                    }
                    .filters-checkboxgroup-body label.checked {
                        background: #B8B8B8;
                        border-radius: 5px;
                    }
                }
            }
            .box-envio{ 
                .content-box-envio{
                    border: 0.583673px solid #E6E6E6;
                    border-radius: 5.83674px;
                    margin: 12px;
                    padding: 27px;
                    .bx-ctn{
                        margin-bottom: 14px;
                        font-size: 12px;
                        p{
                            img{
                                margin-right: 10px;
                            }
                        }
                        img{
                            display: inline-block;
                        }
                        a{
                            
                            display: block;
                            color:#0066CC;
                        }
                    }
                }
            }
            .box-detall{
                .content-box-detall{
                    margin: 20px 0;
                    .title-content-box-detall{
                        font-size: 12px;
                        font-family: 'Lato';
                        border-bottom: 1px solid rgb(175, 171, 171);
                        margin: 10px 0;
                        padding-bottom: 5px;
                    }
                    .texto-box-detall{
                        padding-bottom: 10px;
                        p{
                            font-size: 12px;
                            font-family: 'Montserrat', sans-serif;
                            line-height: 17px;
                            a{
                                color: #0066CC;
                            }
                        }
                        img{

                        }
                    }
                }
            }
            .box-opinion{
                .content-box-opinion{
                    padding: 30px;
                    background: #F1F1F3;
                    border-radius: 8px;
                    .title-box-opinion{
                        font-weight: bolder;
                        font-size: 44.6347px;
                        text-align: center;
                        font-family: 'Lato';
                    }
                    .list-start{
                        text-align: center;
                        .start-yellow{
                            color: #FFC000;
                        }
                    }
                    .msj-gris{
                        text-align: center;
                    }
                    .cont-list-start{  
                        .Cont-puntua{
                            width: 100%;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            max-width: 230px;
                            margin: 10px auto 1px;
                            p{
                                font-size: 13px;
                                width: 20%;
                                span{
                                    color: #FFC000;
                                }
                                display: inline-block;
                            }
                            .num{
                                font-size: 10px;
                            }
                            .a-meter {
                                background: white;
                                border-radius: 13px;
                                width: 169px;
                                display: inline-block;
                                height: 9px;
                                margin: auto;
                                .a-meter-bar {
                                    background-color: #FFC000;
                                    width: 71%;
                                    height: 9px;
                                    border-radius: 10px;
                                }
                            }
                        }
                    } 
                    .link-blue{
                        color: #0066CC;
                        text-align: center;
                        font-size: 10px;
                    }
                    .title-name{
                        font-size: 12px;
                        margin-top: 20px;
                    } 
                    .list-start{
                        text-align: left;
                        margin-bottom: 10px;
                    }
                    .text-link{
                        color: #0066CC;
                        font-size: 10px;
                    }                      
                }
            }
        }
        /*fin slider*/
        .box-te-puede-interesar{
            .carousel{
                .gallery{
                    .carousel{
                        height: 431px;
                        max-width: initial;
                        .carousel-cell{
                            text-align: center;
                            a{
                                .box-card{
                                    margin-bottom: 6px;
                                    .content-imagen{
                                        .imagen-central{
                                            img{
                                                width: 145px;
                                            }
                                        }
                                    }
                                    .text-info{
                                        text-align: left;
                                    }
                                }
                            }
                            
                            .box-canasta{
                                width: 79%;
                                display: inline-block;
                                background: #000;
                                padding: 11px 13px;
                                border-radius: 11px;
                                a{
                                    font-size: 14px;
                                    line-height: 11px;
                                    color: #F7EC00;
                                    width: 156px;
                                    text-decoration: none;
                                    cursor: pointer;
                                    display: flex;
                                    margin: auto;
                                    img{
                                        width: 20px;
                                    }
                                    span{
                                        padding-top: 4px;
                                        padding-left: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }           
        }
    }
}

@media only screen and (min-width: 769px) {
    #detalle1.page-principal{
        .boxHeader{
            .box-content-bar{
                background: #0066CC;
                color: #ffffff;
                .box-category{
                    img{
                        display: none;
                    }
                    .img-bar-blue{
                        display: inline-block;
                    }
                }
                .bar-menu-horizontal{
                    a{
                        color: #ffffff;
                    }
                    img{
                        display: none;
                    }
                    .icon-bar-blue{
                        display: inline-block;
                    }
                }
            }
            .box-content-bar-blue-mobil{
                display: none;
            }
            .header-section-main{
                background: #000000;
                .content-bar-yellow{
                    .header-logo{
                        .navbar-brand{
                            .logoyellow{
                                display: none;
                            }
                            .logoblack{
                                display: block;
                            }
                        }
                    }
                    .icons{
                        .icons-btn{
                            .navbar-link{
                                .carrito{
                                    display: none;
                                }
                                .carritofix{
                                    display: block;
                                }
                            }
                        }
                        .btn-profile{
                            a{
                                color: #ffffff;
                            }

                        }
                    }
                }
            }
        }
        .boxBody{
            .box-content-detalle1{
                .box-title-prod{
                    width: 45%;
                    float: right;
                    border-bottom: 1px solid #d8d0d0;
                    margin-bottom: 27px;
                    .list-start {
                        padding: 10px 0;
                    }
                    .title-sm {
                        font-size: 14px;
                    }
                    .title-big {
                        font-size: 24px;
                    }
                }
                .box-slider-principal.box-slider-show{
                    width: 49%;
                    float: left;
                    .content-box-show{
                        .slideshow-container{
                            .mySlides{
                                .contentdiv{
                                    i{                                    
                                        top: -48px;
                                        font-size: 24px;
                                    }
                                    img{
                                        margin: 48px auto;
                                        width: 377px;
                                    }
                                }
                            }
                        }
                    }
                }
                .box-cant-prod{
                    width: 38.5%;
                    padding: 20px;
                    position: inherit;
                    margin: auto;
                    .content-box-cant-prod{
                        .box-contador{
                            .conteo{
                                .add-prod{
                                    .btn-add-prod{
                                        width: 35px;
                                    }
                                }
                                .result{
                                    width: 46px;
                                }
                            }
                        }
                        .box-canasta{
                            padding: 16px 60px;
                            width: 20%;
                            a{
                            }
                        }
                    }
                }
                .box-detall-prod{
                    .det-product{ 
                        p {
                            font-size: 27px;
                            padding: 10px 0 30px;
                            display: flex;
                            span{
                                font-size: 12px;
                                padding: 8px;
                                border-radius: 10px;
                            }
                        }
                    }
                    .box-list-prod{
                        margin-bottom: 20px;
                        .box-prod{
                            padding: 5px;
                            margin: 1%;
                            width: 30%;
                            span {
                                font-size: 12px;
                                vertical-align: -12px;
                            }
                            img{
                                max-width: 60px;
                                float: left;
                            }
                        }
                    }
                    .box-select-talla{
                        margin-bottom: 20px;
                        h2{
                            margin-bottom: 27px;
                        }
                        #filter_box_sizes{
                            margin: 17px 0;
                            .conte-filter-new{
                                .filters-checkboxgroup-body{
                                    label{
                                        width: 40px;
                                        border-radius: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
                .box-envio{
                    float: right;
                    width: 44%;
                    margin: 40px 0;
                    margin-right: 49px;
                    .content-box-envio{
                        padding: 30px 40px;
                        width: 72%;
                        margin: auto;
                        .bx-ctn{
                            font-size: 13px;
                            padding-bottom: 12px;
                            p{
                                float: left;
                                margin-right: 12px;
                                img{
                                    width: inherit;
                                }
                            }
                            img{
                                width: 77px;
                            }
                        }
                    }
                }
                .box-detall{
                    .content-box-detall{
                       .title-content-box-detall{
                        font-size: 18px;
                        line-height: 23px;
                       } 
                       .texto-box-detall{
                           p{
                            font-size: 16px;
                            line-height: 32px;
                           }
                       }
                    }
                }
                .box-opinion{
                    float: right;
                    width: 44%;
                    margin-right: 49px;
                    .content-box-opinion{
                        padding: 30px 46px;
                        height: 668px;
                        width: 72%;
                        margin: auto;
                        .conmtent-left{
                            margin: 0 auto;
                            display: inline-block;
                            text-align: center;
                            padding: 0 38px;
                            .title-box-opinion{
    
                            }
                            .list-start.center-list{
                                text-align: center;
                            }
                        }
                        .cont-list-start{
                            float: right;
                        }
                        .content-center{
                            float: right;
                            margin-top: 30px;
                            .link-blue{
                                position: relative;
                                left: 24%;
                            }
                        }
                    }
                }
            }
        }

        .box-detall-prod{
            width: 45%;
            float: right;
        }


        .box-detall{
            float: left;
            width: 40%;
        }
    }

}


