#marcas.page-principal .box-content-bar-blue-mobil {
  display: block;
  background: #0066CC;
  color: #fff;
  width: 100%;
  height: 18px;
  text-align: left;
  padding: 16px;
}

#marcas.page-principal .boxBody .box-content-bar .box-category .img-bar-blue {
  display: none;
}

#marcas.page-principal .boxBody .box-content-bar .bar-menu-horizontal li a .icon-bar-blue {
  display: none;
}

#marcas.page-principal .boxBody .box-header .cont-box-header {
  padding: 20px;
}

#marcas.page-principal .boxBody .box-header .cont-box-header .box-header-title-sup ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#marcas.page-principal .boxBody .box-header .cont-box-header .box-header-title-sup ul li {
  float: left;
  padding-left: 5px;
  font-size: 10px;
}

#marcas.page-principal .boxBody .box-header .cont-box-header .box-header-title-inf h1 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  border-bottom: 1px solid;
  padding: 20px 0 10px;
}

#marcas.page-principal .boxBody .box-header .cont-box-header .box-header-title-inf span {
  font-size: 10px;
}

#marcas.page-principal .boxBody .box-header .cont-box-header .box-header-title-inf span a {
  text-decoration: none;
  color: #0066CC;
}

#marcas.page-principal .boxBody .box-slider-marcas .slideshow-container .list-dot {
  position: relative;
  bottom: 31px;
  left: initial;
  text-align: center;
}

#marcas.page-principal .boxBody .box-slider-marcas .slideshow-container .mySlides .contentdiv {
  width: 100%;
  background: #E6E6E6;
}

#marcas.page-principal .boxBody .box-slider-marcas .slideshow-container .mySlides .contentdiv .contentdiv-marca {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 35px 0 70px 0;
}

#marcas.page-principal .boxBody .box-slider-marcas .slideshow-container .mySlides .contentdiv .contentdiv-marca .box-marca {
  display: inline-block;
  width: 48%;
}

#marcas.page-principal .boxBody .box-slider-marcas .slideshow-container .mySlides .contentdiv .contentdiv-marca .box-marca .content-img-marca {
  max-width: 185px;
  height: 135px;
  display: inline-block;
  margin: 6px;
}

#marcas.page-principal .boxBody #box-list-marcas {
  padding: 10px;
  overflow: hidden;
}

#marcas.page-principal .boxBody #box-list-marcas .box-content-list {
  margin: 10px auto;
  width: 100%;
}

#marcas.page-principal .boxBody #box-list-marcas .box-content-list .content-list-marca {
  display: inline-block;
  margin-top: 10px;
  width: 49%;
  /* &:nth-child(even){
                        float: right;
                    }*/
}

#marcas.page-principal .boxBody #box-list-marcas .box-content-list .content-list-marca .content-producto {
  border: 0.158902px solid #B8B8B8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6.35609px;
  /*max-width: 165px;*/
  padding: 10px;
}

#marcas.page-principal .boxBody #box-list-marcas .box-content-list .content-list-marca .content-producto .box-producto .box-img-superior i {
  float: right;
}

#marcas.page-principal .boxBody #box-list-marcas .box-content-list .content-list-marca .content-producto .box-producto .box-img-centro {
  text-align: center;
}

#marcas.page-principal .boxBody #box-list-marcas .box-content-list .content-list-marca .content-producto .box-producto .box-img-centro img {
  max-width: 120px;
}

#marcas.page-principal .boxBody #box-list-marcas .box-content-list .content-list-marca .content-producto .box-producto .box-img-centro .name-product {
  font-family: 'Montserrat', sans-serif;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  margin: 33px 0;
}

#marcas.page-principal .boxBody #box-list-marcas .box-content-list .content-list-marca .content-producto .box-producto .box-img-centro .text-precio {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: left;
}

#marcas.page-principal .boxBody #box-list-marcas .box-content-list .content-list-marca .content-producto .box-producto .box-img-centro .circle-color {
  display: block;
  background: #444444;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 8px 0;
}

#marcas.page-principal .boxBody #box-list-marcas .box-content-list .content-list-marca .content-producto .box-producto .box-img-inferior {
  background-color: #131212;
  font-size: 8px;
  border-radius: 5px;
  padding: 6px 16px;
  text-align: center;
  margin-top: 10px;
}

#marcas.page-principal .boxBody #box-list-marcas .box-content-list .content-list-marca .content-producto .box-producto .box-img-inferior .btn-select {
  font-family: 'Montserrat', sans-serif;
  font-size: 9px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  color: #F7EC00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

#marcas.page-principal .boxBody #box-list-marcas .box-content-list .content-list-marca .content-producto .box-producto .box-img-inferior .btn-select .car-yellow {
  width: 10px;
  margin-right: 5px;
}

#marcas.page-principal .boxBody #box-list-marcas .box-content-list .content-list-marca .content-producto .box-producto .box-img-inferior .btn-select .car-black {
  display: none;
}

#marcas.page-principal .boxBody #box-list-marcas .box-content-list .content-marca {
  margin-top: 10px;
  width: 100%;
  float: left;
}

#marcas.page-principal .boxBody #box-list-marcas .box-content-list .content-marca .box-marca {
  border: 0.158902px solid #B8B8B8;
  border-radius: 6.35609px;
  text-align: center;
  padding: 20px;
}

#marcas.page-principal .boxBody #box-list-marcas .box-content-list .content-marca .box-marca img {
  width: 82px;
}

#marcas.page-principal .boxBody #box-list-marcas .box-content-list .content-marca .box-marca a {
  font-size: 13px;
  font-weight: 600;
  text-decoration: underline;
  color: #131212;
}

@media only screen and (min-width: 600px) {
  #marcas.page-principal .boxHeader .box-content-bar {
    background: #0066CC;
    color: #ffffff;
  }
  #marcas.page-principal .boxHeader .box-content-bar .box-category img {
    display: none;
  }
  #marcas.page-principal .boxHeader .box-content-bar .box-category .img-bar-blue {
    display: inline-block;
  }
  #marcas.page-principal .boxHeader .box-content-bar .bar-menu-horizontal a {
    color: #ffffff;
  }
  #marcas.page-principal .boxHeader .box-content-bar .bar-menu-horizontal img {
    display: none;
  }
  #marcas.page-principal .boxHeader .box-content-bar .bar-menu-horizontal .icon-bar-blue {
    display: inline-block;
  }
  #marcas.page-principal .boxHeader .box-content-bar-blue-mobil {
    display: none;
  }
  #marcas.page-principal .boxHeader .header-section-main {
    background: #000000;
  }
  #marcas.page-principal .boxHeader .header-section-main .content-bar-yellow .header-logo .navbar-brand .logoyellow {
    display: none;
  }
  #marcas.page-principal .boxHeader .header-section-main .content-bar-yellow .header-logo .navbar-brand .logoblack {
    display: block;
  }
  #marcas.page-principal .boxHeader .header-section-main .content-bar-yellow .icons .icons-btn .navbar-link .carrito {
    display: none;
  }
  #marcas.page-principal .boxHeader .header-section-main .content-bar-yellow .icons .icons-btn .navbar-link .carritofix {
    display: block;
  }
  #marcas.page-principal .boxHeader .header-section-main .content-bar-yellow .icons .btn-profile a {
    color: #ffffff;
  }
  #marcas.page-principal .sticky .bar-menu-horizontal {
    display: none;
  }
  #marcas.page-principal .boxBody .box-slider-marcas .slideshow-container .mySlides .contentdiv {
    background: #F7EC00;
  }
  #marcas.page-principal .boxBody .box-slider-marcas .slideshow-container .mySlides .contentdiv .contentdiv-marca {
    max-width: 1193px;
  }
  #marcas.page-principal .boxBody .box-slider-marcas .slideshow-container .mySlides .contentdiv .contentdiv-marca .box-marca {
    display: block;
    width: 100%;
  }
  #marcas.page-principal .boxBody .box-slider-marcas .slideshow-container .mySlides .contentdiv .contentdiv-marca .box-marca .content-img-marca {
    display: inline-block;
  }
  #marcas.page-principal .boxBody #box-list-marcas .box-content-list {
    width: 100%;
    margin-top: 10px;
  }
  #marcas.page-principal .boxBody #box-list-marcas .box-content-list .content-list {
    width: 84%;
    float: right;
  }
  #marcas.page-principal .boxBody #box-list-marcas .box-content-list .content-list .content-list-marca {
    display: inline-block;
    margin-top: 10px;
    max-width: 260px;
    width: calc(100%/4.5);
    margin-left: 2%;
  }
  #marcas.page-principal .boxBody #box-list-marcas .box-content-list .content-list .content-list-marca .content-producto .box-producto {
    min-height: 413px;
  }
  #marcas.page-principal .boxBody #box-list-marcas .box-content-list .content-list .content-list-marca .content-producto .box-producto .box-img-superior img {
    width: 54px;
  }
  #marcas.page-principal .boxBody #box-list-marcas .box-content-list .content-list .content-list-marca .content-producto .box-producto .box-img-superior i {
    font-size: 22px;
  }
  #marcas.page-principal .boxBody #box-list-marcas .box-content-list .content-list .content-list-marca .content-producto .box-producto .box-img-centro img {
    max-width: 190px;
  }
  #marcas.page-principal .boxBody #box-list-marcas .box-content-list .content-list .content-list-marca .content-producto .box-producto .box-img-centro .name-product {
    font-size: 14px;
  }
  #marcas.page-principal .boxBody #box-list-marcas .box-content-list .content-list .content-list-marca .content-producto .box-producto .box-img-centro .text-precio {
    font-size: 14px;
  }
  #marcas.page-principal .boxBody #box-list-marcas .box-content-list .content-list .content-list-marca .content-producto .box-producto .box-img-inferior {
    background-color: #fafafa;
    padding: 10px 41px;
    border: 1px solid #b5afaf;
  }
  #marcas.page-principal .boxBody #box-list-marcas .box-content-list .content-list .content-list-marca .content-producto .box-producto .box-img-inferior .btn-select {
    font-size: 14px;
    color: #000000;
    text-decoration: none;
  }
  #marcas.page-principal .boxBody #box-list-marcas .box-content-list .content-list .content-list-marca .content-producto .box-producto .box-img-inferior .btn-select .car-yellow {
    display: none;
  }
  #marcas.page-principal .boxBody #box-list-marcas .box-content-list .content-list .content-list-marca .content-producto .box-producto .box-img-inferior .btn-select .car-black {
    display: block;
    width: 16px;
    margin-right: 15px;
  }
  #marcas.page-principal .boxBody #box-list-marcas .box-content-list .content-marca {
    width: 13%;
    float: right;
  }
  #marcas.page-principal .boxBody #box-list-marcas .box-content-list .content-marca .box-marca {
    padding: 188px 0;
  }
  #marcas.page-principal .boxBody #box-list-marcas .box-content-list .content-marca .box-marca img {
    display: block;
    margin: auto;
  }
  #marcas.page-principal .boxBody #box-list-marcas .box-content-list .content-marca .box-marca span {
    display: block;
    margin: auto;
  }
}
/*# sourceMappingURL=stylePages.css.map */